:root {
  --slidev-slide-container-background: white;
}

html {
  font-size: 24px;
  font-weight: 500;
}

.slidev-layout {
  a {
    border: none;
  }

  a:hover {
    border: none;
    text-decoration: underline;
  }

  strong {
    font-weight: 700;
  }

  &[layout="image"] {
    background-size: contain !important;
  }

  &.end {
    text-align: center;

    & > h1 {
      font-size: 3rem;
    }
  }
}

.dark-background {
  color: white;
  background-color: #222;

  & > .w-full.h-full {
    background-size: contain !important;
  }
}


/* Used by the Who-am-I slide */
.smaller {
  font-size: .9em;
}


.two-cols-header {
  grid-template-rows: auto 1fr !important;
  & > * {
    padding: 10px;
  }
  text-align: center;
}
