<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebAuthN Demo</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>

<div class="card">
    <div class="header">
        <h1>WebAuthN demo</h1>
    </div>
    <div class="content">
        <p>You are not logged in</p>

        <br>
        <h3>Login with email</h3>
        <form method="POST" action="/login-mail">
            <input type="text" name="email" id="email" placeholder="user@example.com"/>
            <button type="submit">Log In</button>
        </form>

        <br>
        <h3>Login with Passkey</h3>
        <p>
            <button id="login-passkey">Login with Passkey</button>
        </p>

        <br>
        <h3>No account yet?</h3>
        <p>
            <a href="/user/register">Sign up</a>
        </p>
    </div>
</div>

<script th:inline="javascript">
    document.getElementById("login-passkey").addEventListener("click", e => {
        alert("You clicked on [Login with Passkey]")
    })
</script>

</body>
</html>