<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebAuthN Demo</title>
</head>
<body>

<h1>WebAuthN Demo</h1>
<div th:if="${alert != null}" th:text="${alert}"></div>
<p>You are not logged in</p>

<h2>Login with Email</h2>
<form method="POST" action="/login-mail">
    <label for="email">Login with email:</label>
    <input type="text" name="email" id="email" placeholder="user@example.com"/>
    <button type="submit">Log In</button>
</form>

<h2>Login with Passkeys</h2>
<button id="login-webauthn">Login with Passkey</button>

<h2>No account yet?</h2>
<a href="/user/register">Sign up</a>

</body>
<script th:inline="javascript">
    const credentialsRequestOptions = {
        publicKey: {
            challenge: Uint8Array.from([[${challenge}]], c => c.charCodeAt(0)),
        }
    };

    document.getElementById("login-webauthn").addEventListener("click", async () => {
        const credentialsResponse = await navigator.credentials.get(credentialsRequestOptions);
        fetch("/passkey/login",
            {
                method: "POST",
                body: JSON.stringify(credentialsResponse),
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json;charset=utf-8"
                },
                redirect: "follow"
            })
            // Note: this is hacky, see account-page
            .then(r => window.location.href = r.url)
            .catch(err => console.error(err))
            .finally(() => console.log("yep, done"));
        console.log(credentialsResponse);
        console.log(JSON.stringify(credentialsResponse));
    });
</script>
</html>