<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebAuthN Demo</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>

<div class="card">
    <div class="header">
        <h1>WebAuthN demo</h1>
    </div>
    <div class="content">
        <p>You are not logged in</p>

        <br>
        <h3>Login with email</h3>
        <form method="POST" action="/login-mail">
            <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}" />
            <input type="text" name="email" id="email" placeholder="user@example.com"/>
            <button type="submit">Log In</button>
        </form>

        <br>
        <h3>Login with Passkey</h3>
        <p>
            <button id="login-webauthn">Login with Passkey</button>
        </p>

        <br>
        <h3>No account yet?</h3>
        <p>
            <a href="/user/register">Sign up</a>
        </p>
    </div>
</div>

</body>
<script th:inline="javascript">
    const credentialsRequestOptions = {
        publicKey: {
            challenge: Uint8Array.from([[${challenge}]], c => c.charCodeAt(0)),
        }
    };

    document.getElementById("login-webauthn").addEventListener("click", async () => {
        const credentialsResponse = await navigator.credentials.get(credentialsRequestOptions);
        fetch("/passkey/login",
            {
                method: "POST",
                body: JSON.stringify(credentialsResponse),
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json;charset=utf-8"
                },
                redirect: "follow"
            })
            // Note: this is hacky, see account-page
            .then(r => window.location.href = r.url)
            .catch(err => console.error(err))
            .finally(() => console.log("yep, done"));
        console.log(credentialsResponse);
        console.log(JSON.stringify(credentialsResponse));
    });
</script>
</html>